<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=v00egd00002l.lec-admin.dmu.ac.uk;Database=p2882530;User Id=p2882530;Password=IcyPondValley54#;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
</configuration>
